.list-title
{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: black; 
  align-self: flex-start;
}

.divider
{
  width: 500px;
  height: 2px;
  background: #045B9A;
  margin-top: 10px;
}

.create-button-container
{
  margin-left: 190px;
  align-self: flex-end;
}

.title-container
{
  display: flex;
  flex-direction: row;
  align-items: center
}

