.settings-container
{
  display: flex;
  flex-direction: column;
}
.settings-title
{
  font-size: 25px;
  font-family: "Open-Sans" sans-serif;
  color: black;
  margin-left: 0px;
  align-self: center;
}

.top-settings-container
{
  display: flex;
  flex-direction: row;
}

.edit-button
{
  margin-left: 200px;
  align-self: center
}

.frequency
{
  font-size: 20px;
  font-family: 'Open Sans' sans-serif;
  margin-top: 50px;
  text-transform: capitalize;   
  display: flex;
  flex-direction: row
}

.event
{
  font-size: 20px;
  font-family: 'Open Sans' sans-serif;
  margin-top: 20px
}

.update
{
  margin-bottom: 10px;
}

.plus-button-settings
{
  margin-top: 10px;
  height: 25px;
}

.dropdown-arrow-settings
{
  margin-left: 5px;
}

.generate-button
{
  width: 250px;
  margin-top: 10px
}