.settings-container
{
  display: flex;
  flex-direction: column;
}
.settings-title
{
  font-size: 25px;
  font-family: "Open-Sans" sans-serif;
  color: black;
  margin-left: 0px;
  align-self: center;
}

.top-settings-container
{
  display: flex;
  flex-direction: row;
}

.edit-button
{
  margin-left: 250px;
  align-self: center
}

.frequency
{
  font-size: 20px;
  font-family: 'Open Sans' sans-serif;
  margin-top: 50px;
  text-transform: capitalize;   
}

.event
{
  font-size: 20px;
  font-family: 'Open Sans' sans-serif;
  margin-top: 20px
}