.invitee-field
{
  margin-top: 0px;
}

.create-button-container-modal
{
  margin-top: 25px;
  justify-content: center;
  margin-left: 0px;
}

.addition-buttons
{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  height: 25px;
}

