
.create-button
{
  width: 100px;
  height: 35px;
  background: #045B9A;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.create-text
{
  font-size: 21px;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-top:2px;
}